* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  /* background: linear-gradient(to right, #ff512f, #dd2476); */

  background: linear-gradient(270deg, #e67159, #d5568f, #5562d5, #e1648b);
}
u {
  color: rgb(25, 76, 162);

  box-shadow: 0 4px 10px rgba(245, 213, 213, 0.25);
}
/*Here code start for date*/

.date {
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 40px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(66, 116, 118);
}

/*Here code end for date*/

/*Here code start for time*/
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  border: 1px solid rgb(233, 203, 203);
  padding: 30px;
  background-color: rgb(240, 237, 237);
  border-radius: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  /* background: rgba(255, 255, 255, 0.2); */
}

.box {
  /* border: 1px solid red; */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(92, 95, 91);
}

.dot {
  margin-bottom: -10px;
}
/*Here code end for time*/

/*Here code start for weak*/
.weak span {
  /* border: 1px solid red; */
  margin: 3px;
  padding: 2px;
  font-weight: 600;
  color: rgb(224, 157, 109);
}

.active {
  color: red !important;
  font-weight: 600;
  background-color: aquamarine;
  font-size: 1.6rem;
}

/*Here code end for weak*/
